<div id="dashboard">
  <div class="container">
    <div class="row">
        <div class="col-md-auto col-sm-auto col-auto pt-5 mx-auto">
          <img class="mx-auto" src="/images/gryffindor.png" alt=""  title="gryffindor">
          <p>Add Character</p>
          <button id="addCharacter" type="button" class="btn btn-outline-primary mx-auto">+</button>
        </div>
        <div id="charList" class="col-md-8 col-sm-12 pt-5">
          <h3>List of Characters and Stats:</h3>
          {{#each examples}}
            <h4>Character: <span>{{this.text}}</span></h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{this.description}}</li>
                <li class="list-group-item">{{this.createdAt}}</li>
            </ul>
          {{/each}}
          <div class="row">
          <div class="mx-auto" style="width: 5%;">
            <a href="battle" class="btn btn-danger">Fight</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bg">
    <img id="bgImg" src="/images/scrollList.jpg" alt="">
</div>