<div id="login">
  <div class="box container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Sign in!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="newUser">Username:</label>
            <input type="text" id="newUser" class="form-control" aria-describedby="example-text" placeholder="email address">
          </div>
          <div class="form-group">
            <label for="newPassword">Password: </label>
            <input type="password" class="form-control" id="newPassword" aria-describedby="example-description" placeholder="password"></input>
          </div>
          {{!-- <button id="signIn" class="btn btn-primary float-right">Submit</button> --}}
          <a href="dashboard" class="btn btn-primary float-right">Submit</a>
        </form>
        <h3>or...</h3>
        <h2>Sign up!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="user">Username:</label>
            <input type="text" id="user" class="form-control" aria-describedby="example-text" placeholder="email address">
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" aria-describedby="example-description" placeholder="password"></input>
          </div>
          <button id="signUp" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Sign in with... </h3>
        <a class ="google-btn btn btn-primary" href="/auth/google">Google+</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
