<div id="login">
  <div class="box container">
    <div class="row" id ="login-background">
      <div class="col-8 offset-2">
        <div id="welcomeText">

        <img src="/images/harry-potter-logo.png" class="img-fluid">
        <h1>Combat RPG</h1>
        <p></p>
        <h3>To get started, create an account with <a class ="google-btn btn btn-primary" id="google-login" href="/auth/google">Google+</a></h3>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
